doctype html
html(lang='ru-RU')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title chooseYourFriend App
        script(src="http://vk.com/js/api/openapi.js")
    body
        .friend-app#friendAppContainer
            .friend-app__header
                h1.friend-app__header-title Выберете друзей
            .friend-app__body
                .friend-app__columns
                    .friend-app__columns-item
                        .friend-app__search-panel
                            input#searchAllFriendsInput.friend-app__search-input(placeholder='Начтите вводить имя друга')

                        .friend-app__columns-item-header
                            h2.friend-app__columns-item-header-title Ваши друзья

                        .friend-app__columns-item-body
                            .friend-app__columns-item-body-inner
                                ul.user-list#allFriendsList

                    .friend-app__columns-item
                        .friend-app__search-panel
                            input#searchListFriendsInput.friend-app__search-input(placeholder='Начтите вводить имя друга')

                        .friend-app__columns-item-header
                            h2.friend-app__columns-item-header-title Друзья в списке

                        .friend-app__columns-item-body
                            .friend-app__columns-item-body-inner

            .friend-app__footer
                button#saveButton.btn Сохранить
