// Variables
$color-default-bg: #ccc;
$color-gray-text: #777;
$color-footer-bg: #eee;
$color-hover: #f5f5f5;
$color-red: #ff0000;
$appWidth: 800px;
$appHeight: 600px;
$defaultStep: 8px;
$avatarSize: 56px;

body {
  background-color: $color-default-bg;
  font-family: sans-serif;
  display: flex;
  width: 100vm;
  height: 100vh;
}

.friend-app {
  width: $appWidth;
  height: $appHeight;
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-direction: column;

  &__header {
    background-color: $color-red;
    padding: $defaultStep $defaultStep * 2;
    border-radius: $defaultStep * 2 $defaultStep * 2 0 0;
    flex: none;

    &-title {
      font-size: 20px;
      color: #fff;
      font-weight: 700;
    }
  }

  &__body {
    flex: 1;
    background-color: #fff;
  }

  &__footer {
    background-color: $color-footer-bg;
    padding: $defaultStep $defaultStep * 2;
    border-radius: 0 0 $defaultStep * 2 $defaultStep * 2;
    flex: none;
    text-align: right;
  }

  &__search {
    &-panel {
      background-color: $color-hover;
      padding: $defaultStep $defaultStep * 2;
      display: flex;
      flex: none;
    }

    &-input {
      background-color: #fff;
      font-size: 14px;
      padding: $defaultStep $defaultStep * 2;
      border-radius: $defaultStep * 2;
      border: 1px solid $color-default-bg;
      flex: 1;

      &:focus {
        outline: 0;
      }
    }
  }

  &__columns {
    display: flex;
    height: 100%;

    &-item {
      width: 50%;
      display: flex;
      flex-direction: column;

      &:first-child {
        border-right: 1px solid $color-default-bg;
      }

      &-header {
        flex: none;
        margin: $defaultStep $defaultStep * 2;
        border-bottom: 1px solid $color-default-bg;

        &-title {
          font-size: 16px;
          color: $color-gray-text;
          font-weight: 400;
        }
      }

      &-body {
        flex: 1;
        position: relative;

        &-inner {
          position: absolute;
          top: 0;
          right: $defaultStep * 2;
          bottom: 0;
          left: $defaultStep * 2;
          overflow-y: auto;
        }
      }
    }
  }
}

.btn {
  background-color: $color-red;
  color: #fff;
  padding: $defaultStep $defaultStep * 2;
  border-radius: $defaultStep;
  font-size: 14px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .1s;

  &:hover {
    color: $color-red;
    background-color: #fff;
    border-color: $color-red;
  }
}

.user-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    display: flex;
    align-items: center;
    border-radius: $defaultStep / 4;
    padding: $defaultStep;
    transition: all .1s;

    &:hover {
      background-color: $color-hover;
    }

    &-avatar {
      width: $avatarSize;
      height: $avatarSize;
      border-radius: 50%;
      overflow: hidden;
      flex: none;
      margin-right: $defaultStep * 2;

      &-image {
        width: 100%;
        height: 100%;
        background-color: #ddd;
        border: none;
      }
    }

    &-data {
      flex: 1;
      margin-right: $defaultStep;
    }

    &-name {
      font-size: 14px;
    }

    &-add {
      flex: none;
      width: $avatarSize / 2;
      height: $avatarSize / 2;
      position: relative;

      &:before,
      &:after {
        content: '';
        display: block;
        width: 100%;
        background-color: $color-default-bg;
        height: $defaultStep / 2;
        position: absolute;
        top: 50%;
        left: 0;
        cursor: pointer;
        transition: all .1s;
      }

      &:before {
        transform: translateY(-50%);
      }

      &:after {
        transform: translateY(-50%) rotate(90deg);
      }

      &:hover {
        &:before,
        &:after {
          background-color: darken($color-default-bg, 10%);
        }
      }
    }
  }
}